{% extends 'core.html' %}

{% block head_title %}Settings - {{ block.super }}{% endblock head_title %}

{% block body_title %}CONFIGURATION{% endblock body_title %}

{% block body_table %} 
<div class="grid grid-rows-[max-content_1fr] gap-4 mb-4">

    <!-- Conteneur des options -->
    <div class="flex items-center justify-between">
        <!-- Option 1 : Choisir l'inventaire courant -->
        <div class="w-full flex flex-col items-center shadow-md h-min border-2 border-gray-300 rounded-lg dark:border-gray-600 bg-white p-6 m-4 px-4 lg:px-12">
            <h2 class="m-4 text-lg font-bold text-gray-900 dark:text-white text-center">
                Choisir l'inventaire courant
            </h2>
            <form method = "POST"> {% csrf_token %}
                <div class="inline-flex mb-4">
                    <button type="button"
                        data-dropdown-toggle="dropdownDefaultRadio"
                        class="m-4 text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-3 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                        <svg class="w-4 h-4 mr-2 inline-block" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8 10 4 4 4-4" />
                        </svg>
                        Inventaire courant
                    </button>
                    <div id="dropdownDefaultRadio" class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRadioButton">
                            {% for inventory in inventory_list %}
                            <li class="flex items-center p-2 w-full">
                                <div class="flex items-center">
                                    <!-- Le radio-button -->
                                    {% if inventory.is_current %}
                                    <input
                                        id="radio-{{ inventory.id }}" type="radio" value="" name="radio-{{ inventory.id }}" checked="checked"
                                    />
                                    {% else %}
                                    <input
                                        id="radio-{{ inventory.id }}" type="radio" value="" name="radio-{{ inventory.id }}" checked="checked"
                                    />
                                    {% endif %}
                                    <!-- Le label correspondant -->
                                    <label for="radio-{{ inventory.id }}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                        {{ inventory.name }}
                                    </label>
                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="ml-2">
                        <button type="submit" class="m-4 text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-3 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">Valider</button>
                    </div>
                </div>
            </form>
        </div>
         <!-- Option 2 : Documentation -->
        <div class="w-full flex flex-col items-center shadow-md h-min border-2 border-gray-300 rounded-lg dark:border-gray-600 bg-white p-6 m-4 px-4 lg:px-12">
            <h2 class="m-4 text-lg font-bold text-gray-900 dark:text-white text-center">
                Documentation
            </h2>
            <div class="mb-4">
                <a href="{% url 'documentation' %}">
                <button type="button"
                        class="m-4 text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-3 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                        Lire la documentation
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-between">
        <!-- Option 3 : Fihier de log -->
        <div class="w-full flex flex-col items-center shadow-md h-min border-2 border-gray-300 rounded-lg dark:border-gray-600 bg-white p-6 m-4 px-4 lg:px-12">
            <h2 class="m-4 text-lg font-bold text-gray-900 dark:text-white text-center">
                Journal de log
            </h2>
            <div class="mb-4">
                <a href="{% url 'download_logfile' %}">
                <button type="button"
                        class="m-4 text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-3 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                        Télécharger le fichier
                    </button>
                </a>
            </div>
        </div>
        <!-- Option 4 : Preferences -->
        <div class="w-full flex flex-col items-center shadow-md h-min border-2 border-gray-300 rounded-lg dark:border-gray-600 bg-white p-6 m-4 px-4 lg:px-12">
            <h2 class="m-4 text-lg font-bold text-gray-900 dark:text-white text-center">
                Preferences
            </h2>
            <div class="mb-4">
                <button type="button" 
                    data-modal-target="preferences"
                    data-modal-toggle="preferences" 
                    class="m-4 text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-3 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                    Configurer
                </button>
            </div>
            {% include 'modal/preferences.html' %}
        </div>
         <!-- Option 5 : Media -->
         <div class="w-full flex flex-col items-center shadow-md h-min border-2 border-gray-300 rounded-lg dark:border-gray-600 bg-white p-6 m-4 px-4 lg:px-12">
            <h2 class="m-4 text-lg font-bold text-gray-900 dark:text-white text-center">
                Media
            </h2>
            <div class="mb-4">
                <a href="{% url 'delete_media_files' %}">
                    <button type="button"
                            class="m-4 text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-3 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                            Supprimer les fichiers
                        </button>
                    </a>
            </div>
           
        </div>
    </div>
</div>
{% endblock body_table %}
