{% extends 'core.html' %}

{% block head_title %}Dashboard - {{ block.super }}{% endblock head_title %}

{% block body_title %}TABLEAU DE BORD{% endblock body_title %}

{% block body_table %} 
<div class="grid grid-rows-[max-content_1fr] gap-4 mb-4">
    <div class="flex items-center justify-center">
        {% for inventory in inventory_list %}
            <div>
                <a href="{% url 'inventory' name=inventory.name %}">
                    <button type="button"
                        class="mr-2 flex flex-col items-center shadow-md h-min border-2 border-gray-300 rounded-lg dark:border-gray-600 bg-white m-4 px-4 lg:px-12">
                        <div>
                            <h2 class="justify-self-stretch my-4 tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white"> {{inventory.name}}</h2>
                        </div>    
                    </button>
                </a>
            </div>
        {% endfor %}    
    </div> 
    <div class="flex items-center justify-center">
        <div class="mr-2 flex flex-col items-center shadow-md h-min border-2 border-gray-300 rounded-lg dark:border-gray-600 bg-white m-4 px-4 lg:px-12">
            <div>
                <h2 class="justify-self-stretch my-4 tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white">Livraison via .PDF</h2>
            </div>
            <div>
                <button type="button" 
                    data-modal-target="move_from_file"
                    data-modal-toggle="move_from_file" 
                    class="mb-4 flex text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-3 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                        <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                        </svg>
                        Enregistrer une livraison
                </button>
            </div>
        </div>
        <div class="flex flex-col items-center shadow-md h-min border-2 border-gray-300 rounded-lg dark:border-gray-600 bg-white m-4 px-4 lg:px-12">
            <div>
                <h2 class="justify-self-stretch my-4 tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white">Ajouter un produit avec une photo</h2>
            </div>
            <div class="flex items-center justify-center w-full">
                <button type="button" 
                    data-modal-target="new_photo_product"
                    data-modal-toggle="new_photo_product" 
                    class="mb-4 flex text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-3 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                        <svg class="h-3.5 w-3.5 mr-2" fill="none" viewbox="1 1 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M4 18V8a1 1 0 0 1 1-1h1.5l1.707-1.707A1 1 0 0 1 8.914 5h6.172a1 1 0 0 1 .707.293L17.5 7H19a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1Z"/>
                            <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                        </svg>
                        Prendre une photo
                </button>
            </div> 
        </div>
    </div>
</div>
{% endblock body_table %}
