Django>=5.0,<5.1
gunicorn
python-decouple
psycopg[binary]
dj-database-url
requests
whitenoise # -> upgrade to django-storages
django-allauth[socialaccount]
django-allauth-ui
django-widget-tweaks
slippers
stripe
camelot-py[base]
setuptools
opencv-python-headless
PyPDF2<3.0.0
