Django>=5.0,<5.1
gunicorn
python-decouple
psycopg[binary]
dj-database-url
requests
whitenoise # -> upgrade to django-storages
django-allauth
django-allauth-ui
django-widget-tweaks
slippers
pandas
mistralai
openpyxl
lxml
xlrd >= 2.0.1
pyzbar
opencv-python
heic2png
pymupdf
pytesseract
basemap
setuptools
Pyrebase4
paddlepaddle==3.0.0b2
paddleocr>=2.0.1
https://paddle-model-ecology.bj.bcebos.com/paddlex/whl/paddlex-3.0.0b2-py3-none-any.whl
concurrent-log-handler