<tr class="h-8">
    <!-- MultiCode -->
    <form id="entry-form-{{ iproduct.id }}" action="{% url 'update_product' iproduct=iproduct.id product=iproduct.product.id %}">{% csrf_token %}
        {% if iproduct.product.multicode_generated %}
            <td class="px-2 py-1 truncate font-medium border-2 border-red-700 text-gray-900 whitespace-nowrap dark:text-white">
        {% else %}
            <td class="px-2 py-1 truncate font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {% endif %}
            <input size="16" min="1" max="16"
            class="text-center text-sm text-gray-900 whitespace-nowrap dark:text-white rounded border-white hover:bg-gray-100 hover:border-gray-100 out-of-range:border-mate"
            id="multicode-{{ iproduct.id }}" type="text" name="multicode" value="{{iproduct.product.multicode}}" placeholder="{{iproduct.product.multicode}}" required=""
            style="padding: 4px;">
        </td>
        {% if not delivery %}
        <!-- Fournisseur -->
        <td class="px-2 py-1 truncate font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <input type="text" name="providername" list="providername" value="{{ iproduct.product.provider.name }}" size="32" min="1" max="32"
            id='provider-{{ iproduct.id }}' class="text-center text-sm text-gray-900 whitespace-nowrap dark:text-gray rounded border-white hover:bg-gray-100 hover:border-gray-100 out-of-range:border-mate"
            style="padding: 4px;">
            <datalist id="providername">
                {% for provider in provider_list %}
                    <option value="{{ provider.name }}">
                {% empty %}        
                {% endfor %}        
            </datalist>
        </td>
        {% endif %}
        <!-- EAN -->
        {% if iproduct.product.is_new %}
            <td class="px-2 py-1 truncate font-medium border-2 border-red-700 text-gray-900 whitespace-nowrap dark:text-white">
        {% else %}
            <td class="px-2 py-1 truncate font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {% endif %}
            <input size="16" min="1" max="16"
            class="text-center text-sm text-gray-900 whitespace-nowrap dark:text-white rounded border-white hover:bg-gray-100 hover:border-gray-100 out-of-range:border-mate"
            id="ean-{{ iproduct.id }}" type="text" name="ean" value="{{iproduct.product.ean}}" placeholder="{{iproduct.product.ean}}" id="{{iproduct.product.ean}}" required=""
            style="padding: 4px;">
        </td>
        <!-- Description -->
        <td class="px-2 py-1 truncate font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <input size="64" min="1" max="64"
            class="text-center text-sm text-gray-900 whitespace-nowrap dark:text-white rounded border-white hover:bg-gray-100 hover:border-gray-100 out-of-range:border-mate"
            id="description-{{ iproduct.id }}" type="text" name="description" value="{{iproduct.product.description}}" placeholder="{{iproduct.product.description}}" required=""
            style="padding: 4px;">
        </td>
        <!-- Quantité -->
        <td class="px-2 py-1 truncate font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <input size="5" min="1" max="5"
            class="text-center text-sm text-gray-900 whitespace-nowrap dark:text-white rounded border-white hover:bg-gray-100 hover:border-gray-100 out-of-range:border-mate"
            id="quantity-{{ iproduct.id }}" type="text" name="quantity" value="{{iproduct.quantity}}" placeholder="{{iproduct.quantity}}" required=""
            style="padding: 4px;">
        </td>
        <!-- Achat HT -->
        {% if iproduct.product.has_changed %}
        <td class="px-2 py-1 truncate font-medium border-2 border-red-700 text-gray-900 whitespace-nowrap dark:text-white">
        {% else %}
            <td class="px-2 py-1 truncate font-medium text-gray-900 whitespace-nowrap dark:text-white">        
        {% endif %}
            <input size="5" min="1" max="5"
            class="text-sm text-gray-900 whitespace-nowrap dark:text-white rounded border-white hover:bg-gray-100 hover:border-gray-100 out-of-range:border-mate"
            id="achat_ht-{{ iproduct.id }}" type="text" name="achat_ht" value="{{iproduct.product.get_format_achat_ht}}" placeholder="{{iproduct.product.get_format_achat_ht}}" required=""
            style="text-align: right; padding: 4px;">€
        </td>
        <button class="'hidden"></button>
    </form>
    <!-- Action -->
    <td class="px-2 py-1 truncate font-medium text-gray-900 whitespace-nowrap dark:text-white">
        <button class="hidden bg-red-500 hover:bg-red-700 text-white font-bold px-2 py-1 rounded">
            maj
        </button>
    
        <form action="{% url 'delete_iproduct' id=iproduct.id %}" method="post">{% csrf_token %}
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold px-2 py-1 rounded">
                X
            </button>
        </form>
    </td>
</tr>

<script type="text/javascript">
     $(document).ready(function() {
        $('form[id^="entry-form-"]').on('submit', function(e) {
        e.preventDefault();  // Empêche le rafraîchissement de la page
        console.log('ajax')
        const form = $(this);
            $.ajax({
                type: 'POST',
                url: form.attr('action'),
                data: form.serialize(),
                success: function (data) {
                   messages('ok')
                },
                error: function (xhr, status, error) {
                    console.error('Erreur : ', error);
                }
            });
        });
    });
</script>