
{% extends 'core.html' %}

{% block head_title %}Réception - {{ block.super }}{% endblock head_title %}

{% block body_title %}PRODUITS EN ATTENTE DE RECEPTION{% endblock body_title %}

{% block body_buttons %}
    
    <form method="get">
        <input
            type="text"
            name="search"
            class="p-2 border border-gray-300 rounded-lg text-sm"
            placeholder="Rechercher un produit..."
            value="{{ request.GET.search|default:'' }}"
        />
        <button type="submit" class="px-4 py-2 ml-2 text-white bg-blue-500 rounded-lg">
            Rechercher
        </button>
    </form>
    <form id="download-form" action="{% url 'export_receipt' %}">
        <button type="submit" class="flex items-center justify-center flex-shrink-0 px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Export
        </button>
    </form>
    {% if not receipt.is_waiting %}
    <a href="{% url 'empty_receipt' %}">
        <button type="button" class="flex items-center justify-center flex-shrink-0 px-3 py-2 text-sm font-medium border border-gray-200 rounded-lg focus:outline-none hover:bg-red-100 hover:text-red-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-red-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-red-700"
        style="background-color: #fee2e2; color: #991b1b;">
            <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="3" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="m6 6 12 12m3-6a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            Vider la Réception
        </button>
    </a>
    {% endif %}
    <a href="{% url 'receipt' %}" 
        class="flex items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
        <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="2" stroke="white" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.651 7.65a7.131 7.131 0 0 0-12.68 3.15M18.001 4v4h-4m-7.652 8.35a7.13 7.13 0 0 0 12.68-3.15M6 20v-4h4" />
        </svg>
        Rafraichir
    </a>  
    
{% endblock body_buttons %}

{% block body_table %}
    {% if iproducts %}
        <div class="flex-grow flex flex-col">
            <div class="max-h-[48vh] overflow-y-auto border border-gray-200 rounded-lg shadow-md">
                {% include 'inventory/table.html' %}
            </div>
            {% include 'tools/total.html' %}
        </div>
    {% else %}
        <div class="flex items-center justify-center flex-shrink-0 px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Sorry, you don't have any products yet
        </div>
    {% endif %}
{% endblock body_table %}