{% extends 'base.html' %}

{% block body %} 
<main class="flex-grow max-h-screen flex flex-col p-4 pt-20 antialiased bg-gray-50 dark:bg-gray-900">
    <div class="flex-grow flex flex-col justify-between">
        <div>
            {% include 'base/messages.html' with messages=messages %}
            {% include 'sidebar.html' %}
            <div class="grid grid-rows-[max-content_auto] gap-4 mb-4 relative"> 
                <!-- Title -->
                <div class="p-4">
                    <div class="flex flex-col text-center text-2xl font-semibold whitespace-nowrap dark:text-white">
                        {% block body_title %} Core {% endblock body_title %}
                    </div>
                </div>
                <div class="grid grid-rows-[max-content_1fr] gap-4 mb-4"> 
                    <div class="flex flex-col items-center justify-center">
                        <!-- Modals -->
                        <section class="mt-2 flex justify-center flex-shrink-0 space-y-3 md:flex-row md:items-center md:space-y-0 md:space-x-3">
                            {% include 'modal/import_inventory.html' %}
                            {% include 'modal/move_from_file.html' %}
                            {% include 'modal/new_inventory_modal.html' %}
                            {% include 'modal/new_photo_product.html' %}
                            {% include 'modal/waiting.html' %}
                        </section>
                        <!-- Buttons -->
                        <section class="mt-2 flex justify-center flex-shrink-0 space-y-3 md:flex-row md:items-center md:space-y-0 md:space-x-3">
                            {% block body_buttons %}
                            {% endblock body_buttons %}
                        </section>
                        <!-- Table -->
                        <section class="p-2" style="width: 85%;">
                            {% block body_table %}
                            {% endblock body_table %}
                        </section>
                    </div>
                </div>
            </div>
        </div>
        
        <footer class="mt-auto">
            {% include 'footer.html' %}
        </footer>
    </div>
</main>
{% endblock body %}