{% extends 'base.html' %}

{% block body %} 
<main class="flex-grow max-h-screen flex flex-col p-4 pt-20 antialiased bg-gray-50 dark:bg-gray-900">
    <div class="flex-grow flex flex-col justify-between">
        <div>
            {% include 'base/messages.html' with messages=messages %}
            {% include 'sidebar.html' %}
            <div class="grid grid-rows-[max-content_auto] gap-4 mb-4 relative"> 
                <!-- Title -->
                <div class="p-4">
                    <div class="flex flex-col text-center text-2xl font-semibold whitespace-nowrap dark:text-white">
                        {% block body_title %} Core {% endblock body_title %}
                    </div>
                </div>
                <!-- Modals -->
                    {% block body_modals %}
                    {% endblock body_modals %}
                <!-- Buttons -->
                <div class="mt-2 flex justify-center flex-shrink-0 space-y-3 md:flex-row md:items-center md:space-y-0 md:space-x-3">
                    {% block body_buttons %}
                    {% endblock body_buttons %}
                </div>
                <!-- Table -->
                <section class="p-2">
                    {% block body_table %}
                    {% endblock body_table %}
                </section>
            </div>
        </div>
        <footer class="mt-auto">
            {% include 'footer.html' %}
        </footer>
    </div>
</main>
{% endblock body %}