<tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700"></tr>
    <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        <a href="{% url 'delivery' id=delivery.id %}">
            {{delivery.provider.name}} 
        </a>
    </td>
    <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        <a href="{% url 'delivery' id=delivery.id %}">
            {{delivery.inventory.name}}
        </a>
    </td>
    <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{delivery.date_creation}}</td>
    {% if delivery.is_validated %}
        <td class="px-4 py-2 font-medium text-primary-900 whitespace-nowrap dark:text-white">
            <div class="flex justify-center font-bold py-2 px-4 rounded">
                <svg class="w-6 h-6 text-primary-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                </svg>
            </div>
        </td>
    {% else %}
        <td class="px-4 py-2 font-medium text-primary-900 whitespace-nowrap dark:text-white">
            <a href="{% url 'validate_delivery' id=delivery.id %}" class="flex justify-center font-bold py-2 px-4 rounded">
                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="blue" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 1 0-18c1.052 0 2.062.18 3 .512M7 9.577l3.923 3.923 8.5-8.5M17 14v6m-3-3h6"/>
                </svg>
               
            </a>
        </td>
    {% endif %}
    <td class="flex justify-center px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {% if delivery.is_validated %}
            <a href="{% url 'export_delivery' id=delivery.id %}" class="flex items-center justify-center flex-shrink-0 px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
                </svg>
            
            </a>
        {% endif %}    
        <form action="{% url 'delete_delivery' id=delivery.id %}" method="post">{% csrf_token %}
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                X
            </button>
        </form>
    </td>
</tr>