<table class="table-auto w-full divide-y text-sm text-center text-gray-500 dark:text-gray-400 bg-white shadow-md dark:bg-gray-800 rounded-lg">
    <thead class="sticky top-0 z-10 bg-mate">
        <tr>
            {% for column in columns %}
                <th scope="col" class="px-2 py-1 truncate">{{ column }}</th>
            {% endfor %}
            <th scope="col" class="px-2 py-1 truncate">ACTION</th>
        </tr>
    </thead>
    <tbody>
        <!--Backups entries-->
        {% for backup in backup_list %}
            {% include 'backup/entry.html' with object=backup %}
        {% endfor %}
    </tbody>
</table>