<tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">

    <!-- MultiCode -->
    {% if transaction.product.multicode_generated %}
        <td class="px-2 py-1 font-medium border-2 border-red-700 text-gray-900 whitespace-nowrap dark:text-white">{{transaction.product.multicode}}</td>
    {% else %}
        <td class="px-2 py-1 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{transaction.product.multicode}}</td>
    {% endif %}
    <!-- Description -->
    {% if transaction.product.is_new %}
        <td class="px-4 py-2 font-medium border-2 border-red-700 text-gray-900 whitespace-nowrap dark:text-white">{{transaction.product.description}}</td>
    {% else %}
        <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-gray">{{transaction.product.description}}</td>
    {% endif %}
   <!-- Quantité -->
   <td class="font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <form action="{% url 'update_transaction' deliverry=delivery.id id=transaction.id %}" method="post">{% csrf_token %}
        <input size="4" min="1" max="4" class="text-center text-sm text-gray-900 whitespace-nowrap dark:text-white rounded border-white hover:bg-gray-100 hover:border-gray-100 out-of-range:border-mate" id="quantity" type="text" name="quantity" value="{{transaction.quantity}}" placeholder="{{product.quantity}}" required="">
    </form>
</td>
    <!-- Achat HT -->
    {% if transaction.product.has_changed %}
        <td class="px-2 py-1 font-medium border-2 border-red-700 text-gray-900 whitespace-nowrap dark:text-white">{{transaction.product.get_format_achat_ht}}€</td>
    {% else %}
        <td class="px-2 py-1 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{transaction.product.get_format_achat_ht}}€</td>
    {% endif %}
</tr>
