<tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
    
    <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{product.fournisseur.name}}</td>
    <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{product.ean}}</td>
    <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{product.description}}</td>
    <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{product.quantity}}</td>
    {% if product.has_changed %}
        <td class="px-4 py-2 font-medium text-red-900 whitespace-nowrap dark:text-red">{{product.achat_brut}}</td>
    {% else %}
        <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{product.achat_brut}}</td>
    {% endif %}
    
</tr>