<!-- Overlay de la modale -->
<div id="modal-overlay" class="fixed inset-0 bg-black bg-opacity-50 hidden z-40"></div>

<!-- Main modal -->
<div id="export_inventory" tabindex="-1" aria-hidden="true" class="fixed inset-0 flex items-center justify-center hidden z-50" data-inventory-id="{{ inventory.id }}">
    <div class="fixed w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="border-2 text-center border-gray-300 rounded-lg dark:border-gray-600 bg-white h-32 md:h-64 lg:px-6">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Exporter l'inventaire
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="export_inventory">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>

            <!-- Modal body -->
            {% if inventory %}
            <div class="p-4 md:p-5 space-y-4">
                <div class="space-y-4">
                    <h2 class="text-lg font-semibold mb-4">Choisissez le type d'export</h2>
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                        <button id="typeReception" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">Réception</button>
                        <button id="typePrice" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">Prix</button>
                        <button id="typeInventory" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">Inventaire</button>
                    </div>

                    <!-- Format selection (hidden by default) -->
                    <div id="formatSelection" class="hidden">
                        <h2 class="text-lg font-semibold mb-4">Choisissez le format d'export</h2>
                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                            <a id="exportXls" href="{% url 'export_xls' id=inventory.id export_type='inventory' %}" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">Export XLS</a>
                            <a id="exportJson" href="{% url 'export_json' id=inventory.id %}" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">Export JSON</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
// Récupérer l'ID de l'inventaire depuis l'attribut de données
    const modal = document.getElementById('export_inventory');
    const inventoryId = modal.getAttribute('data-inventory-id');
    // JavaScript to handle type selection and show/hide format selection
    document.getElementById('typeReception').addEventListener('click', function() {
        // Hide format selection
        document.getElementById('formatSelection').classList.add('hidden');
        // Handle reception export logic
        window.location.href = `/inventory/${inventoryId}/export_xls/reception`;
    });

    document.getElementById('typePrice').addEventListener('click', function() {
        // Hide format selection
        document.getElementById('formatSelection').classList.add('hidden');
        // Handle prix export logic
        window.location.href = `/inventory/${inventoryId}/export_xls/price`;
    });

    document.getElementById('typeInventory').addEventListener('click', function() {
        // Show format selection
        document.getElementById('formatSelection').classList.remove('hidden');
    });
    // Mettre à jour les liens d'export avec l'ID de l'inventaire
    document.getElementById('exporXls').href = `/inventory//${inventoryId}/export_xls/inventory`;
    document.getElementById('exportJson').href = `/inventory//${inventoryId}/export_json/`;
</script>