<!-- Overlay de la modale -->
<div id="modal-overlay" class="fixed inset-0 bg-black bg-opacity-50 hidden z-40"></div>
<!-- Main modal -->
<div id="waiting" tabindex="-1" aria-hidden="true" class="fixed inset-0 flex items-center justify-center hidden z-50">
    <div class="fixed  w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="border-2 text-center border-gray-300 rounded-lg dark:border-gray-600 bg-white h-32 md:h-64 lg:px-6">
        <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Veuillez patienter
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
                Analyse du fichier en cours. Veuillez patienter.
            </div>
        </div>
    </div>
</div>