<tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700"></tr>
    <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">

        <form action="{% url 'update_provider' id=provider.id %}" method="post">{% csrf_token %}
            <input size="50" min="1" max="50" class="text-center text-sm text-gray-900 whitespace-nowrap dark:text-white rounded border-white hover:bg-gray-100 hover:border-gray-100 out-of-range:border-mate" id="name" type="text" name="name" value="{{provider.name}}" placeholder="{{provider.name}}" required="">
        </form>
    </td>
    <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{provider.n_tva}}</td>
    <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{provider.tva}}</td>
</tr>