{% extends 'core.html' %}

{% block head_title %}Fournisseurs - {{ block.super }}{% endblock head_title %}

{% block body_title %}LISTE DES FOURNISSEURS{% endblock body_title %}

{% block body_buttons %}
<div class="grid grid-rows-[max-content_1fr] gap-4 mb-4"> 
    <div class="flex items-center justify-center">
        <form method="get" action="{% url 'provider' %}">
            <input
                type="text"
                name="search"
                class="p-2 border border-gray-300 rounded-lg text-sm"
                placeholder="Rechercher un fournisseur..."
                value="{{ request.GET.search|default:'' }}"
            />
            <button type="submit" class="px-4 py-2 ml-2 text-white bg-blue-500 rounded-lg">
                Rechercher
            </button>
        </form>
{% endblock body_buttons %}

{% block body_table %}
    {% if provider_list %}
    <div class="flex-grow flex flex-col">
        <div class="max-h-[50vh] overflow-y-auto border border-gray-200 rounded-lg shadow-md">
            {% include 'provider/table.html' %}
        </div>
        <div class="mt-4">
            <div class="flex justify-center">
                {{ total }} Fournisseur(s)
            </div>
    </div>
    </div>
    {% else %}
    <div class="flex-grow flex flex-col">
        <div class="max-h-[50vh] overflow-y-auto border border-gray-200 rounded-lg shadow-md">
            Aucun produit(s) livré(s) !
        </div>
    </div>
    {% endif %}
{% endblock body_table %}
