
{% extends 'dashboard/dashboard.html' %}

{% block content %}
<div class="grid grid-cols-2 gap-4 mb-4">
   
    <div class="grid grid-cols-1 gap-4 mb-4">
        <section class="bg-gray-50 dark:bg-gray-900 p-5 ">
            <div class="px-4 lg:px-12">
                <div class="bg-white shadow-md dark:bg-gray-800 sm:rounded-lg overflow-x-auto w-full h-0">
                    {% if provider_list %}
                        {% include 'provider/table.html' %}
                    {% else %}
                        <div class="flex items-center justify-center flex-shrink-0 px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                            Sorry, you don't have any provider yet
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
        {% include 'modal/new_inventory_modal.html' %}
    </div>
</div>
{% endblock content %}
