<table class="w-full text-sm text-center text-gray-500 dark:text-gray-400 overflow-x-auto">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr class="bg-mate">
            {% for column in columns %}
                <th scope="col" class="px-4 py-3">{{column}}</th>
            {% endfor %}
            <th scope="col" class="px-4 py-3">ACTION</th>
        </tr>
    </thead>
    <tbody>
        <!--Products entries-->
        {% for provider in provider_list %}
            {% include 'provider/entry.html' with object=provider %}
            {% include 'modal/confirm_delete_provider.html' %}
        {% endfor %}
    </tbody>
</table>